@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --printer-status-vacant: rgb(0, 255, 0);
  --printer-status-printing: rgb(255, 255, 0);
  --printer-status-out-of-order: rgb(252, 65, 27);
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline: 3px solid;
  border-radius: 3px;
}

html {
  height: 100%;
}

body {
  background-image: url("bakgrund.webp");
  background-size: cover;
  height: 100%;
}

header {
  background-color: #ffffff;
  padding: 1vw;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #c0c0c0;
}

h2 {
  font-weight: 200;
  font-size: min(4vh, 5vw);
}

h1 {
  font-weight: 300;
  font-size: min(7vh, 9vw);
}

h3 {
  font-weight: 500;
}

button {
  border: none;
  background-color: inherit;
}

#msLogoLink {
  border-radius: 2vh;
  height: min(10vh, 15vw);
  position: absolute;
  left: 2vw;
  top: 2vw;
  bottom: 2vw;
  overflow: hidden;
}

#msLogo {
  width: 100%;
  height: 100%;
}

#printersLogoLink {
  border-radius: 2vh;
  height: min(10vh, 15vw);
  position: absolute;
  right: 2vw;
  top: 2vw;
  bottom: 2vw;
  overflow: hidden;
}

#printersLogo {
  width: 100%;
  height: 100%;
}

nav {
  position: sticky;
  top: 0px;
  margin-top: 0px;
  padding: 0px;
}

.nav {
  text-align: center;
}

.navContainer {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.navItem {
  flex-grow: 1;
  list-style: none;
  border-right: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  padding: 0px 10px;
  margin: 10px 0px;
}

.navP {
  font-size: 3vh;
}

#currentPage {
  color: #a0a0a0;
}

.navP:hover {
  background-color: #f0f0f0;
}

.gradient {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 20px;
}

.textBox {
  width: 80%;
  background-color: #ffffff;
  padding: 2vw;
  font-size: 2.5vh;
  margin: 5vw auto;
  border-radius: 2vh;
}

.artImage {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 5vw auto;

  overflow: hidden;
  border-radius: 2vh;
}

.articleImage {
  flex: 2;
  min-width: 200px;
}

.articleImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articleText {
  background-color: #ffffff;
  padding: 2vw;
  flex: 1;
  min-width: 200px;
}

.artP {
  font-size: 2.5vh;
}

.discordBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7289da;
  color: #ffffff;
  padding: 2vw;
  font-size: min(4vh, 4vw);
  line-height: 4vh;
  margin: auto;
  border-radius: 2vh;
}

.textP {
  margin-bottom: 2vh;
}

.discordLogo {
  height: min(6vh, 5vw);
  margin: 0 2vw;
}

.rådLista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5vw auto;
  width: 80%;
}

.rådMedlem {
  background-color: #ffffff;
  padding: 1.5vw;
  font-size: 2.5vh;
  border-radius: 2vh;
  margin: 1vh;
}

h4 {
  font-size: 3vh;
}

section {
  background-color: #ffffff;
  margin: 2em auto;
  padding: 0.5em;
  width: 90%;
  font-size: 0.8em;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.printer {
  flex-grow: 1;
  min-width: 250px;
  flex-basis: 0;
}

label {
  white-space: nowrap;
  margin: 0.5em;
}

input {
  font-size: inherit;
  max-width: 12em;
  margin: 0.5em;
}

#alertBox {
  display: none;
  padding: 0.2em;
  margin: 0.5em;
  background-color: var(--printer-status-out-of-order);
  color: white;
}

.exclamate {
  margin: 0 0.2em;
  font-weight: bolder;
  font-size: 1.4em;
}

.show {
  display: inline-block !important;
}

.printer {
  background-color: #e0e0e0;
  text-align: center;
  margin: 0.5em;
}

.printerStatus {
  font-size: 2em;
  font-weight: 500;
  color: black;
  width: 100%;
}

.green {
  background-color: var(--printer-status-vacant);
}

.blue {
  background-color: var(--printer-status-printing);
}

.red {
  background-color: var(--printer-status-out-of-order);
}

.printerName {
  font-size: 1.5em;
  font-weight: 500;
}

.printerType {
  font-size: 1.5em;
  font-weight: 300;
}

.printerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.printerAddButton {
  font-size: 2em !important;
  margin-top: auto;
  margin-bottom: 0.2em;
  cursor: pointer;
}

.printerList {
  margin-bottom: 0.5em;
  padding: 0 0.5em;
  width: 100%;
}

.queueEntry {
  display: flex;
  justify-content: space-around;
  border: solid #c0c0c0 1px;
  margin: 0;
  list-style: none;
  align-items: center;
}

.queueEntry:first-child {
  background-color: #f0f0f0;
}

.queueName {
  width: 75%;
  padding: 0.2em;
  word-wrap: break-word;
}

@media (hover: none) {
  .queueButton {
    display: block !important;
  }
}

.queueEntry:hover .queueButton{
  display: block;
}

.queueButton {
  display: none;
  padding: 0.2em;
  font-size: 1.3em;
  cursor: pointer;
}

footer {
  position: sticky;
  top: 100vh;
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
}

.contact {
  text-align: center;
}

.contactFlex {
  display: inline-flex;
  align-items: center;
}

.footerName {
  text-align: right;
  font-size: 2vh;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1.4em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

[data-printer-status] option[value="0"] {
  background-color: var(--printer-status-vacant);
}

[data-printer-status] option[value="1"] {
  background-color: var(--printer-status-printing);
}

[data-printer-status] option[value="2"] {
  background-color: var(--printer-status-out-of-order);
}
