@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: url("bakgrund.jpg");
  background-size: cover;
}

header {
  background-color: #ffffff;
  padding: 1vw;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #c0c0c0;
  height: 15vw;
}

h2 {
  font-weight: 200;
  font-size: 3vw;
}

h1 {
  font-weight: 300;
  font-size: 4vw;
}

h3 {
  font-weight: 500;
}

#msLogo {
  border-radius: 2vw;
  max-height: 8vw;
  position: absolute;
  left: 2vw;
  top: 2vw;
  bottom: 2vw;
}

nav {
  position: sticky;
  top: 0px;
  margin-top: 0px;
  padding: 0px;
}

.nav {
  text-align: center;
}

.navContainer {
  background-color: #ffffff;
  display: flex;
  padding: 10px;
}

.navItem {
  flex-grow: 1;
  border-right: 1px solid #c0c0c0;
  padding: 0px 10px;
}

.navP {
  
  font-size: 1.6vw;
}

.navP:hover {
  background-color: #f0f0f0;
}

.gradient {
  background: linear-gradient(rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 40%, rgba(0,0,0,0) 100%);
  height: 20px;
}

#rightmostItem {
  border-right: none;
}

article {
  max-width: 80%;
  min-height: 20vh;
  display: flex;
  
  margin: 5vw auto;
}

.articleLeft{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.articleRight{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
} 

.articleImage {
  flex: 2;
}

.articleImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articleText {
  background-color: #ffffff;
  padding: 2vw;
  flex: 1;
  
}

.artP {
  font-size: 2.5vh;
}

footer {
  background-color: #ffffff;
  padding: 10px;
}

.contact {
  text-align: center;
}

.contactFlex {
  display: inline-flex;
  align-items: center;
}

.footerName {
  text-align: right;
}

.material-icons-round {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}