@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: url("bakgrund.jpg");
  background-size: cover;
}

header {
  background-color: #ffffff;
  padding: 1vw;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #c0c0c0;
}

h2 {
  font-weight: 200;
  font-size: min(4vh, 5vw);
}

h1 {
  font-weight: 300;
  font-size: min(7vh, 9vw);
}

h3 {
  font-weight: 500;
}

#msLogo {
  border-radius: 2vh;
  height: min(10vh, 15vw);
  position: absolute;
  left: 2vw;
  top: 2vw;
  bottom: 2vw;
}

nav {
  position: sticky;
  top: 0px;
  margin-top: 0px;
  padding: 0px;
}

.nav {
  text-align: center;
}

.navContainer {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.navItem {
  flex-grow: 1;
  border-right: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  padding: 0px 10px;
  margin: 10px 0px;
}

.navP {
  font-size: 3vh;
}

#currentPage {
  color: #a0a0a0;
}

.navP:hover {
  background-color: #f0f0f0;
}

.gradient {
  background: linear-gradient(rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 40%, rgba(0,0,0,0) 100%);
  height: 20px;
}

.textBox {
  width: 80%;
  background-color: #ffffff;
  padding: 2vw;
  font-size: 2.5vh;
  margin: 5vw auto;
  border-radius: 2vh;
}

.artImage {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 5vw auto;
  
  overflow: hidden;
  border-radius: 2vh;
}

.articleImage {
  flex: 2;
  min-width: 200px;
}

.articleImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articleText {
  background-color: #ffffff;
  padding: 2vw;
  flex: 1;
  min-width: 200px;
}

.artP {
  font-size: 2.5vh;
}

footer {
  background-color: #ffffff;
  padding: 10px;
}

.contact {
  text-align: center;
}

.contactFlex {
  display: inline-flex;
  align-items: center;
}

.footerName {
  text-align: right;
  font-size: 2vh;
}

.material-icons-round {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}