* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-image: url("bakgrund.jpg");
  background-size: cover;
}

header {
  background-color: #ffffff;

  padding: 10px;
  margin-bottom: 50px;

  text-align: center;
}

.title {
  position: relative;

  margin-bottom: 10px;

  border-bottom: 1px solid #c0c0c0;
}

h2 {
  font-weight: 200;
  font-size: 5vh;
}

h1 {
  font-weight: 300;
  font-size: 8vh;
}

#msLogo {
  border-radius: 20px;
  max-width: 12vh;

  position: absolute;
  left: 20px;
  top: 20px;

  bottom: 0px;
}

nav {
  display: flex;
}

.navItem {
  flex-grow: 1;

  border-right: 1px solid #c0c0c0;
}

#rightmostItem {
  border-right: none;
}

article {
  display: flex;

  min-height: 400;
  width: 80%;

  margin: 100px auto;
}

.articleLeft{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.articleRight{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
} 

.articleImage {
  flex: 2;
}

.articleImg {
  width: 100%;
  height: 100%;

  object-fit: cover;
  
}

.articleText {
  background-color: #ffffff;
  padding: 20px;
  flex: 1;
  font-size: 3vh;
}
